body {
    background-image: url(../images/halftone-yellow.png);
}

.container {
    width: 960px;
}

.jumbotron {
    margin-top: 100px;
    background-color: whitesmoke;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.display-4 {
    font-family: 'ZCOOL KuaiLe', cursive;
}